<div class=" row">
    <div class="content">
        <div style="text-align:center">
            <h1>
                LISTADO DE PERSONAS
            </h1>
        </div>
        <div>
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>

            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <!-- id Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                    <td mat-cell *matCellDef="let element "> {{element.fullname }} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef> Fecha Nacimiento  </th>
                    <td mat-cell *matCellDef="let element"> {{ moment(element.birth).format('DD / MM / YYYY')}} </td>
                </ng-container>

                <ng-container matColumnDef="Edit">
                    <th mat-header-cell *matHeaderCellDef> Editar </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-stroked-button (click)="openDialog('edit',element)">
                            <mat-icon aria-hidden="false">border_color</mat-icon>
                        </button>
                    </td>
                </ng-container>
                <ng-container matColumnDef="Delete">
                    <th mat-header-cell *matHeaderCellDef> Eliminar </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-stroked-button (click)="deleteUser(element.id)">
                            <mat-icon aria-hidden="false">close</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            <div class="position">
                <button mat-raised-button color="primary" (click)="openDialog('create',[])"> Añadir </button>
            </div>
        </div>
    </div>
</div>