/* Structure */

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.content {
    @media screen and (min-width: 961px) {
        border-top: transparent 19px solid;
        border-right: transparent 80px solid;
        border-bottom: transparent 10px solid;
        border-left: transparent 80px solid;
    }
}

.position {
    text-align: center;
    border-top: transparent 18px solid;
}




span.title-column {
    display: none
}

@media (max-width: 960px) {
    table.mat-table {
        border: 0;
        vertical-align: middle
    }
    table.mat-table caption {
        font-size: 1em;
    }
    
    table.mat-table .mat-row {
        border-bottom: 5px solid #ddd;
        display: block;
        min-height: 48px !important;
        height: inherit !important;
    }
    
  table.mat-table .mat-cell {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: 1em;
        text-align: right;
        font-weight: bold;
        min-height: 30px !important;
        height: inherit !important;
        margin-bottom: 4%;
        padding-left: 20px;
        padding-right: 20px
    }
    table.mat-table .mat-cell span {
        padding: 6px 0 !important
    }
    table.mat-table .mat-cell span:last-child {
        padding: 4px 0 !important;
        float: right;
    }
    table.mat-table .mat-cell span.title-column {
        float: left;
        text-transform: uppercase;
        font-weight: normal;
        font-size: .85em;
        display: block
    }
    table.mat-table .mat-cell:last-child {
        border-bottom: 0;
    }
    table.mat-table .mat-cell:first-child {
        margin-top: 4%;
    }
    table .mat-header-cell {
        display: none !important
    }
    table .mat-header-row{
        display: none !important
    }
    table mat-footer-row::after,
    table mat-header::after,
    table mat-row::after {
        display: none !important
    }
}
