<h1 mat-dialog-title> <b>{{nameTitle}}</b></h1>
<div mat-dialog-content>
    <p>Diligencie los campos :</p>
    <form [formGroup]="formRegister" class="container" fxLayout="column" fxLayout.xs="column" fxLayoutAlign="center">
        <div fxFlex="100%">
            <mat-form-field fxFlex="100%">
                <input matInput type="text" formControlName="fullname" placeholder="Nombre" [ngClass]="{ 'is-invalid': formRegister.controls.fullname.errors }">
            </mat-form-field>
            <div *ngIf=" formRegister.controls.fullname.errors" class="invalid-feedback">
                <div *ngIf=" formRegister.controls.fullname.errors">
                    <p style="font-size: 0.8em; color: red"><b>El nombre es requerido</b></p>
                </div>
            </div>
        </div>
        <div fxFlex="100%">
            <mat-form-field fxFlex="100%">
                <input matInput type="date" formControlName="birth" placeholder="Fecha nacimiento" [ngClass]="{ 'is-invalid': formRegister.controls.birth.errors }">
            </mat-form-field>
            <div *ngIf=" formRegister.controls.birth.errors" class="invalid-feedback">
                <div *ngIf=" formRegister.controls.birth.errors">
                    <p style="font-size: 0.8em; color: red"><b>fecha nacimiento es requerida</b></p>
                </div>
            </div>
        </div>
    </form><br>
    <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-stroked-button mat-dialog-close (click)="addUser()">
            Guardar  <mat-icon aria-hidden="false">save</mat-icon>
        </button>
    </div>
</div>